<div class="container-fluid m-0 full-height">
  <div class="d-flex flex-column justify-content-center full-height">
    <div id="card-component" class="tab-pane tab-example-result fade show active" role="tabpanel"
         aria-labelledby="card-component-tab">
      <div class="card card-frame">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
</div>
<a routerLink="/login">login</a>
<a routerLink="/register">Register</a>
<a routerLink="/dashboard">Dash</a>
<router-outlet></router-outlet>
