<div class="container-fluid">
  <!--  Accounts  -->
  <div class="row">
    <div class="card card-frame">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex flex-grow-1 justify-content-center align-items-center mb-3">
            <h4 class="card-title text-uppercase m-0 ml-2">Accounts</h4>
          </div>
          <button type="button" class="btn btn-sm btn-slack btn-icon ml-auto mb-3">
            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          </button>
        </div>
        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
            <tr>
              <th class="sort text-center" data-sort="account" scope="col">Account</th>
              <th class="sort text-center" data-sort="icon" scope="col">Icon</th>
              <th class="sort text-center" data-sort="amount" scope="col">Start amount</th>
              <th class="sort text-center" data-sort="date" scope="col">Start Date</th>
              <th class="sort text-center" data-sort="limit" scope="col">Limit</th>
              <th class="sort text-center" data-sort="currency" scope="col">Currency</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody class=" list">


            <tr *ngFor="let account of accounts">
              <th scope="row">
                <div class=" media align-items-center">
                  <div class="color-box mr-3" [ngStyle]="{'background-color': account.color}"></div>
                  <div class=" media-body">
                      <span class=" name mb-0 text-sm">
                        {{account.name}}
                      </span>
                  </div>
                </div>
              </th>
              <td class="budget text-center"><i [ngClass]="[account.icon, 'fs-32']"></i></td>
              <td class="budget text-center">{{account.startBalance}}</td>
              <td class="budget text-center">{{account.startDate}}</td>
              <td class="budget text-center">{{account.creditLimit}}</td>
              <td class="budget text-center">{{account.currency.name?? '-'}}</td>
              <td class="text-right">
                <div dropdown class="dropdown no-caret" [dropup]="true">
                  <a id="button-dropup" dropdownToggle role="button" class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                     aria-controls="dropdown-dropup">
                    <i class=" fas fa-ellipsis-v"> </i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">Edit</a>
                    <a href="javascript:void(0)" class="dropdown-item">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories -->
  <div class="row">
    <!--  Expenses  -->
    <div class="col-12 col-sm-6 pl-0 pr-0 pr-sm-2">
      <div class="card card-frame">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center mb-3">
              <h4 class="card-title text-uppercase m-0 ml-2">Expenses</h4>
            </div>
            <button type="button" class="btn btn-sm btn-slack btn-icon ml-auto mb-3">
              <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            </button>
          </div>
          <div class=" table-responsive">
            <table class=" table align-items-center table-flush" *ngIf="expenses.length > 0">
              <thead class=" thead-light">
              <tr>
                <th class="sort text-center" data-sort="account" scope="col">Expense</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody class=" list">
              <tr *ngFor="let expense of expenses">
                <th scope="row">
                  <div class=" media align-items-center">
<!--                    <i [ngClass]="expense.icon"></i>-->
                    <div class=" media-body">
                      <span class=" name mb-0 text-sm">
                        {{expense.name}}
                      </span>
                    </div>
                  </div>
                </th>
                <td class="text-right">
                  <div dropdown class="dropdown no-caret" [dropup]="true">
                    <a id="button-dropup" dropdownToggle role="button" class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                       aria-controls="dropdown-dropup">
                      <i class=" fas fa-ellipsis-v"> </i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                      <a href="javascript:void(0)" class="dropdown-item">Edit</a>
                      <a href="javascript:void(0)" class="dropdown-item">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--  Incomes  -->
    <div class="col-6=12 col-sm-6 pr-0 pl-0 pl-sm-2">
      <div class="card card-frame">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center mb-3">
              <h4 class="card-title text-uppercase m-0 ml-2">Incomes</h4>
            </div>
            <button type="button" class="btn btn-sm btn-slack btn-icon ml-auto mb-3">
              <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            </button>
          </div>
          <div class=" table-responsive">
            <table class=" table align-items-center table-flush" *ngIf="incomes.length > 0">
              <thead class=" thead-light">
              <tr>
                <th class="sort text-center" data-sort="account" scope="col">Income</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody class=" list">
              <tr *ngFor="let income of incomes">
                <th scope="row">
                  <div class=" media align-items-center">
<!--                    <i [ngClass]="income.icon"></i>-->
                    <div class=" media-body">
                      <span class=" name mb-0 text-sm">
                        {{income.name}}
                      </span>
                    </div>
                  </div>
                </th>
                <td class="text-right">
                  <div dropdown class="dropdown no-caret" [dropup]="true">
                    <a id="button-dropup" dropdownToggle role="button" class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                       aria-controls="dropdown-dropup">
                      <i class=" fas fa-ellipsis-v"> </i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                      <a href="javascript:void(0)" class="dropdown-item">Edit</a>
                      <a href="javascript:void(0)" class="dropdown-item">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Currencies / Account Types -->
  <div class="row">
    <div class="col-12 col-sm-6 pl-0 pr-0 pr-sm-2">
      <!--   Currencies   -->
      <div class="card card-frame">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-sm btn-slack btn-icon mr-auto mb-3">
              <span class="btn-inner--icon"><i class="fas fa-screwdriver"></i></span>
            </button>
            <div class="d-flex flex-grow-1 justify-content-center align-items-center mb-3">
              <h4 class="card-title text-uppercase m-0 ml-2">Currencies</h4>
            </div>
            <button type="button" class="btn btn-sm btn-slack btn-icon ml-auto mb-3">
              <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            </button>
          </div>
          <div class=" table-responsive">
            <table class=" table align-items-center table-flush">
              <thead class=" thead-light">
              <tr>
                <th class="sort text-center" data-sort="account" scope="col">Currency</th>
                <th class="sort text-center" data-sort="amount" scope="col">Direction</th>
                <th class="sort text-center" data-sort="date" scope="col">Rating</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody class=" list">
              <tr *ngFor="let currency of currencies">
                <th scope="row">
                  <div class=" media align-items-center">
                      <i [ngClass]="currency.icon" class=" fs-24 mr-3"></i>
                    <div class=" media-body">
                      <span class=" name mb-0 text-sm">
                        {{currency.name}}
                      </span>
                    </div>
                  </div>
                </th>

                <td class="budget text-center">{{currency.name !== 'USD' ? (currency.base ? 'USD-' + currency.name : currency.name + '-USD') : 'USD'}}</td>
                <!--  TODO  -->
                <td class="budget text-center">1.18</td>
                <td class="text-right">
                  <div dropdown class="dropdown no-caret" [dropup]="true">
                    <a id="button-dropup" dropdownToggle role="button" class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                       aria-controls="dropdown-dropup">
                      <i class=" fas fa-ellipsis-v"> </i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                      <a href="javascript:void(0)" class="dropdown-item">Edit</a>
                      <a href="javascript:void(0)" class="dropdown-item">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>




        </div>
      </div>
    </div>
    <!--   Account Types   -->
    <div class="col-6=12 col-sm-6 pr-0 pl-0 pl-sm-2">
      <div class="card card-frame">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center mb-3">
              <h4 class="card-title text-uppercase m-0 ml-2">Account Types</h4>
            </div>
            <button type="button" class="btn btn-sm btn-slack btn-icon ml-auto mb-3">
              <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            </button>
          </div>
          <div class=" table-responsive">
            <table class=" table align-items-center table-flush">
              <thead class=" thead-light">
              <tr>
                <th class="sort text-center" data-sort="account" scope="col">Type</th>
                <th class="sort text-center" data-sort="amount" scope="col">Debit/Credit</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody class=" list">
              <tr *ngFor="let accountType of accountTypes">
                <th scope="row">
                  <div class=" media align-items-center">
                    <div class="avatar rounded-circle mr-3" [ngClass]="!accountType.negative ? 'bg-success' : 'bg-danger'">
                      <i [ngClass]="!accountType.negative ? 'fas fa-plus' : 'fas fa-minus'"></i>
                    </div>
                    <div class=" media-body">
                      <span class=" name mb-0 text-sm">
                        {{accountType.name}}
                      </span>
                    </div>
                  </div>
                </th>
                <td class="budget text-center">{{accountType.negative ? 'credit' : 'debit'}}</td>
                <td class="text-right">
                  <div dropdown class="dropdown no-caret" [dropup]="true">
                    <a id="button-dropup" dropdownToggle role="button" class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                       aria-controls="dropdown-dropup">
                      <i class=" fas fa-ellipsis-v"> </i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                      <a href="javascript:void(0)" class="dropdown-item">Edit</a>
                      <a href="javascript:void(0)" class="dropdown-item">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>




        </div>
      </div>
    </div>
  </div>
  <!--  Profile -->
  <div class="row">
    <div class="tab-pane tab-example-result w-100 mt-3 fade show active" role="tabpanel" aria-labelledby="card-component-tab">
      <div class="card card-frame">
        <div class="card-body">
          <h4 class="card-title text-uppercase text-center mb-3">Profile</h4>

            <div class="form-group">
              <div class="input-group input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Name">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button" id="button-addon2">Change</button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="Email">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button" id="button-addon2">Change</button>
                </div>
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>
</div>
