<div class="container-fluid">
  <!--  Balance  -->
  <div class="row">
    <div class="tab-pane tab-example-result w-100 mt-3 fade show active" role="tabpanel" aria-labelledby="card-component-tab">
      <div class="card card-frame">
        <div class="card-body p-2 fs-32 text-uppercase text-center">
          balance <span class="color-green">$12 354.34</span>
        </div>
      </div>
    </div>
  </div>
  <!--  Cards  -->
  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-stats-bg-component-tab">
    <div class="row mb-4">
      <!--   Card 1   -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-gradient-default h-150">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">Wells Fargo Bank</h5>
                <span class="h2 font-weight-bold mb-0 text-white">$1 000,45</span>
              </div>
            </div>
            <div class="d-flex align-items-end mt-3 mb-0 text-sm">
              <span class="text-white mr-2">debit card</span>
              <i class="fab fa-cc-visa text-white fs-38 ml-auto"></i>
            </div>
          </div>
        </div>
      </div>
      <!--   Card 2   -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-gradient-primary h-150">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">US Bank</h5>
                <span class="h2 font-weight-bold mb-0 text-white">$3 450,45</span>
              </div>
            </div>
            <div class="d-flex align-items-end mt-3 mb-0 text-sm">
              <span class="text-white mr-2">credit card</span>
              <i class="fab fa-cc-mastercard text-white fs-38 ml-auto"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-gradient-primary h-150">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">US Bank</h5>
                <span class="h2 font-weight-bold mb-0 text-white">$3 450,45</span>
              </div>
            </div>
            <div class="d-flex align-items-end mt-3 mb-0 text-sm">
              <span class="text-white mr-2">credit card</span>
              <i class="fab fa-cc-mastercard text-white fs-38 ml-auto"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-gradient-primary h-150">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">US Bank</h5>
                <span class="h2 font-weight-bold mb-0 text-white">$3 450,45</span>
              </div>
            </div>
            <div class="d-flex align-items-end mt-3 mb-0 text-sm">
              <span class="text-white mr-2">credit card</span>
              <i class="fab fa-cc-mastercard text-white fs-38 ml-auto"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card bg-gradient-primary h-150">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">US Bank</h5>
                <span class="h2 font-weight-bold mb-0 text-white">$3 450,45</span>
              </div>
            </div>
            <div class="d-flex align-items-end mt-3 mb-0 text-sm">
              <span class="text-white mr-2">credit card</span>
              <i class="fab fa-cc-mastercard text-white fs-38 ml-auto"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-150">
          <div class="card-body d-flex">
            <i class="fas fa-plus fs-68 m-auto color-green"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--  Cash flow  and  Last Records  -->
  <div class="row">
    <!--  Cash flow   -->
    <div class="col-12 col-md-6">
      <div class="tab-pane tab-example-result w-100 mt-3 fade show active" role="tabpanel" aria-labelledby="card-component-tab">
        <div class="card card-frame">
          <div class="card-body p-3">
            <h4 class="card-title text-uppercase text-left mb-2">Cash Flow</h4>
            <!--    Incomes    -->
            <div class="progress-wrapper pt-0">
              <div class="progress-info">
                <div class="progress-label">
                  <span>Incomes</span>
                </div>
                <div class="progress-percentage">
                  <span>$2 459.60</span>
                </div>
              </div>
              <div class="progress h-20">
                <div class="progress-bar background-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
              </div>
            </div>
            <!--   Expenses   -->
            <div class="progress-wrapper pt-0">
              <div class="progress-info">
                <div class="progress-label">
                  <span>Expenses</span>
                </div>
                <div class="progress-percentage">
                  <span>$1 799.50</span>
                </div>
              </div>
              <div class="progress h-20">
                <div class="progress-bar background-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Last Records   -->
    <div class="col-12 col-md-6">
      <div class="tab-pane tab-example-result w-100 mt-3 fade show active" role="tabpanel" aria-labelledby="card-component-tab">
        <div class="card card-frame">
          <div class="card-body p-3">
            <h4 class="card-title text-uppercase text-left mb-2">Last Records</h4>
            <div class=" table-responsive">
              <table class=" table align-items-center table-flush">
                <tbody class=" list">
                <tr>
                  <th scope="row" class="p-0">
                    <div class=" media align-items-center">
                      <a class=" avatar rounded-circle mr-3" href="javascript:void(0)">
                        <img alt="Image placeholder" src="./assets/img/theme/bootstrap.jpg">
                      </a>
                      <div class=" media-body">
                        <span class=" name mb-0 text-sm">Category 1</span>
                      </div>
                    </div>
                  </th>
                  <td class="p-0">
                    <span class=" badge badge-dot mr-4">
                      <span class="status color-text_light">8/3/2021</span>
                    </span>
                  </td>
                  <td class=" budget p-0">$2500 USD</td>
                </tr>
                <tr>
                  <th scope="row" class="p-0">
                    <div class=" media align-items-center">
                      <a class=" avatar rounded-circle mr-3" href="javascript:void(0)">
                        <img alt="Image placeholder" src="./assets/img/theme/bootstrap.jpg">
                      </a>
                      <div class=" media-body">
                        <span class=" name mb-0 text-sm">Category 2</span>
                      </div>
                    </div>
                  </th>
                  <td class="p-0">
                    <span class=" badge badge-dot mr-4">
                      <span class="status color-text_light">8/3/2021</span>
                    </span>
                  </td>
                  <td class=" budget p-0">$2500 USD</td>
                </tr>
                <tr>
                  <th scope="row" class="p-0">
                    <div class=" media align-items-center">
                      <a class=" avatar rounded-circle mr-3" href="javascript:void(0)">
                        <img alt="Image placeholder" src="./assets/img/theme/bootstrap.jpg">
                      </a>
                      <div class=" media-body">
                        <span class=" name mb-0 text-sm">Category 1</span>
                      </div>
                    </div>
                  </th>
                  <td class="p-0">
                    <span class=" badge badge-dot mr-4">
                      <span class="status color-text_light">8/3/2021</span>
                    </span>
                  </td>
                  <td class=" budget p-0">$2500 USD</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Currencies  and  Credit Limits  -->
  <div class="row">
    <!--  Currencies   -->
    <div class="col-12 col-md-6">
      <div class="tab-pane tab-example-result w-100 mt-3 fade show active" role="tabpanel" aria-labelledby="card-component-tab">
        <div class="card card-frame">
          <div class="card-body p-3">
            <h4 class="card-title text-uppercase text-left mb-2">Currencies</h4>
            <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-stats-bg-component-tab">
              <div class="row mb-4">
                <div class="col-6 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center"><i class="fas fa-euro-sign fs-32"></i></h5>
                      <p class="card-text text-center font-weight-bold color-text_light">EUR-USD</p>
                      <p class="card-text text-center font-weight-bold fs-24">1.18</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center"><i class="fas fa-euro-sign fs-32"></i></h5>
                      <p class="card-text text-center font-weight-bold color-text_light">EUR-USD</p>
                      <p class="card-text text-center font-weight-bold fs-24">1.18</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center"><i class="fas fa-euro-sign fs-32"></i></h5>
                      <p class="card-text text-center font-weight-bold color-text_light">EUR-USD</p>
                      <p class="card-text text-center font-weight-bold fs-24">1.18</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center"><i class="fas fa-euro-sign fs-32"></i></h5>
                      <p class="card-text text-center font-weight-bold color-text_light">EUR-USD</p>
                      <p class="card-text text-center font-weight-bold fs-24">1.18</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center"><i class="fas fa-euro-sign fs-32"></i></h5>
                      <p class="card-text text-center font-weight-bold color-text_light">EUR-USD</p>
                      <p class="card-text text-center font-weight-bold fs-24">1.18</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center"><i class="fas fa-euro-sign fs-32"></i></h5>
                      <p class="card-text text-center font-weight-bold color-text_light">EUR-USD</p>
                      <p class="card-text text-center font-weight-bold fs-24">1.18</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Credit Limits   -->
    <div class="col-12 col-md-6">
      <div class="tab-pane tab-example-result w-100 mt-3 fade show active" role="tabpanel" aria-labelledby="card-component-tab">
        <div class="card card-frame">
          <div class="card-body p-3">
            <h4 class="card-title text-uppercase text-left mb-2">Credit limit</h4>
            <div class="row">
              <div class="col-5">
                <!--      Chart      -->
                <div class="mb-4 d-block w-100">
                  <canvas baseChart width="100%" height="100%"
                          [data]="doughnutChartData"
                          [datasets]="doughnutChartDatasets"
                          [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType"
                          [options]="options"
                          [colors]="colors"
                          [plugins]="doughnutChartPlugins"
                  ></canvas>
                </div>
              </div>
              <div class="col-7">
                <!--      Credit List      -->
                <ul class="list-group list-group-flush list my--3">

                  <li class="list-group-item px-0 py-1 border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5>Wells Fargo</h5>
                          <span>3%</span>
                        </div>
                        <div class="progress progress-xs mb-0">
                          <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <span class="fs-12 color-text_light">Balance: $3 000.34</span>
                          <span class="fs-12 color-text_light">Limit: $6 000.00</span>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item px-0 py-1 border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5>Wells Fargo</h5>
                          <span>3%</span>
                        </div>
                        <div class="progress progress-xs mb-0">
                          <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <span class="fs-12 color-text_light">Balance: $3 000.34</span>
                          <span class="fs-12 color-text_light">Limit: $6 000.00</span>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item px-0 py-1 border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5>Wells Fargo</h5>
                          <span>3%</span>
                        </div>
                        <div class="progress progress-xs mb-0">
                          <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <span class="fs-12 color-text_light">Balance: $3 000.34</span>
                          <span class="fs-12 color-text_light">Limit: $6 000.00</span>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item px-0 py-1 border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5>Wells Fargo</h5>
                          <span>3%</span>
                        </div>
                        <div class="progress progress-xs mb-0">
                          <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <span class="fs-12 color-text_light">Balance: $3 000.34</span>
                          <span class="fs-12 color-text_light">Limit: $6 000.00</span>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
                <div class="border-top mt-4 pt-2">
                  <div class="d-flex justify-content-between align-items-center ">
                    <span>Total credit balance:</span>
                    <span>$3 000.54</span>
                  </div>

                  <div class="d-flex justify-content-between align-items-center ">
                    <span>Total limit:</span>
                    <span>$11 000.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
