$gray: #E7E7E7;
$green: #31BE00;
$red: #DD4B39;
$text_light: #8F96A9;

.background-gray {
  background-color: $gray!important;
}

.background-green {
  background-color: $green!important;
}

.background-red {
  background-color: $red!important;
}

.color-green {
  color: $green;
}

.top-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  padding: 1em;
  font-weight: bold;
  margin: 0;
}

.color-red {
  color: $red;
}

.color-text_light {
  color: $text_light;
}

.full-height {
  min-height: 100vh;
}

.fs-12 {
  font-size: .75em;
}

.fs-18 {
  font-size: 1.3em;
}

.fs-24 {
  font-size: 1.5em;
}

.fs-32 {
  font-size: 2em;
}

.fs-38 {
  font-size: 2.4em;
}

.fs-68 {
  font-size: 4.25em;
}

.h-150 {
  height: 150px!important;
}

.h-20 {
  height: 20px!important;
}

.fp-icon {
  width: 24px;
  height: 24px;
  background-color: #5a1140;
  margin-right: 1em;
  border-radius: 7px;
}

.records-th {
  padding-top: .75em!important;
  padding-bottom: .75em!important;
  border: none;
  background-color: white;
}

.brand-name {
  font-family: 'Balsamiq Sans', cursive;
  color: #8379ff;
}

.color-box {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: .375em;
}

.fontawesome-icons {
  height: 45px;
  font-family: FontAwesome, sans-serif;
  font-weight: 900;
}

.card-hovered:hover{
  box-shadow: 2px 2px 5px 0 #532222;
  transform:scale(1.1);
  transition: all 1.2s;
  cursor: pointer;
}

.record-date {
  font-size: 16px;
  margin-bottom: 0;
}

.fit {
  width: 1%;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

