<div class="container-fluid mt-3">
  <div class="row">
    <!--  Balance Trend  -->
    <div class="col-12 pr-0 pl-0 pr-sm-2">
      <div class=" card">
        <div class="card-header d-flex justify-content-between">
          <div>
            <h6 class=" surtitle">Overview</h6>
            <h5 class=" h3 mb-0">Balance Trend</h5>
          </div>
          <ul class="d-flex list-unstyled my-0 mx-3">
            <li class="mx-1"><button class="btn btn-sm btn-secondary"
                                     *ngFor="let period of balancePeriods; let i = index"
                                     [ngClass]="balancePeriod == i ? 'active' : ''"
                                     (click)="setPeriod(i)">{{balancePeriods[i]}}</button></li>
          </ul>
        </div>
        <div class=" card-body">
          <div class=" chart" id="parent-balance-trend">
            <canvas class="chart-canvas" id="chart-balance-trend"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--  Expenses  -->
    <div class="col-12 col-sm-6 pr-0 pl-0 pr-sm-2">
      <div class=" card">
        <div class=" card-header">
          <h6 class=" surtitle">Expenses</h6>
          <h5 class=" h3 mb-0">Total expenses: ${{total_expenses.toLocaleString()}}</h5>
        </div>
        <div class=" card-body">
          <div class=" chart" id="parent-expenses">
            <canvas class="chart-canvas" id="chart-expenses"></canvas>
          </div>
        </div>
        <ul class="list-unstyled p-3">
          <li *ngFor="let expense of expenses;">
            <div class="progress-wrapper">
              <div class="progress-info">
                <div class="progress-label">
                  <span>{{expense.category}}</span>
                  <span class="bg-danger text-white">{{'$' + expense.amount.toLocaleString()}}</span>
                </div>
                <div class="progress-percentage">
                  <span>{{expense.percent}}%</span>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     [ngStyle]="{'width': expense.percent + '%', 'background-color': expense.color}"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--  Incomes  -->
    <div class="col-12 col-sm-6 pr-0 pl-0 pr-sm-2">
      <div class=" card">
        <div class=" card-header">
          <h6 class=" surtitle">Incomes</h6>
          <h5 class=" h3 mb-0">Total incomes: ${{total_incomes.toLocaleString()}}</h5>
        </div>
        <div class=" card-body">
          <div class=" chart" id="parent-incomes">
            <canvas class="chart-canvas" id="chart-incomes"></canvas>
          </div>
        </div>
        <ul class="list-unstyled p-3">
          <li *ngFor="let income of incomes;">
            <div class="progress-wrapper">
              <div class="progress-info">
                <div class="progress-label">
                  <span>{{income.category}}</span>
                  <span class="bg-success text-white">{{'$' + income.amount.toLocaleString()}}</span>
                </div>
                <div class="progress-percentage">
                  <span>{{income.percent}}%</span>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     [ngStyle]="{'width': income.percent + '%', 'background-color': income.color}"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
