<nav class="navbar navbar-top navbar-expand navbar-dark background-gray border-bottom py-2" id="navbar-main">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Sidenav toggler -->
      <div class="pr-3 sidenav-toggler sidenav-toggler-dark position-absolute" data-action="sidenav-pin"
           data-target="#sidenav-main" (click)="toggleSidenav()">
        <div class="sidenav-toggler-inner d-xl-none" #topMenu>
          <i class="sidenav-toggler-line bg-dark"></i>
          <i class="sidenav-toggler-line bg-dark"></i>
          <i class="sidenav-toggler-line bg-dark"></i>
        </div>
      </div>
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center w-100 justify-content-center ml-3">
        <!--  Dashboard  -->
        <li class="mx-2">
          <button class="btn btn-icon btn-3 btn-danger px-3" type="button" routerLink="/dashboard">
            <span class="btn-inner--icon"><i class="ni ni-app"></i></span>
            <span class="btn-inner--text d-none d-md-inline">Dashboard</span>
          </button>
        </li>
        <!--  Records  -->
        <li class="mx-2">
          <button class="btn btn-icon btn-3 btn-danger px-3" type="button" routerLink="/records">
            <span class="btn-inner--icon"><i class="ni ni-bullet-list-67"></i></span>
            <span class="btn-inner--text d-none d-md-inline">Records</span>
          </button>
        </li>
        <!--  Statistics  -->
        <li class="mx-2">
          <button class="btn btn-icon btn-3 btn-danger px-3" type="button" routerLink="statistics">
            <span class="btn-inner--icon"><i class="ni ni-chart-bar-32"></i></span>
            <span class="btn-inner--text d-none d-md-inline">Statistics</span>
          </button>
        </li>
        <!--  Settings  -->
        <li class="mx-2">
          <button class="btn btn-icon btn-3 btn-danger px-3" type="button" routerLink="/settings">
            <span class="btn-inner--icon"><i class="ni ni-settings-gear-65"></i></span>
            <span class="btn-inner--text d-none d-md-inline">Settings</span>
          </button>
        </li>
      </ul>
      <!--  Transfer money  -->
      <button class="btn btn-icon btn-3 btn-info ml-auto px-3" type="button" (click)="open(transferModal, 'transfer')">
        <span class="btn-inner--icon"><i class="fas fa-exchange-alt"></i></span>
      </button>
      <!--  Add Record  -->
      <button class="btn btn-icon btn-3 btn-success ml-auto px-3" type="button" (click)="open(recordModalAdd, 'record')">
        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
      </button>
      <!--  Logout  -->
      <button class="btn btn-icon btn-3 btn-danger ml-auto px-3" type="button" (click)="logout()">
        <span class="btn-inner--icon"><i class="ni ni-user-run"></i></span>
      </button>

    </div>
  </div>
</nav>
<div *ngIf="sidenavOpen === true" class="backdrop d-xl-none" (click)="toggleSidenav()"></div>

<!--      Modal Record    -->
<ng-template #recordModalAdd let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card bg-secondary shadow border-0 mb-0">
        <div class="card-header bg-white pb-0">
          <div class="text-muted text-center mb-3">
            <h3>Add Record</h3>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-2">

          <div (click)="isCollapsedTemplates = !isCollapsedTemplates"
               [ngClass]="{'filter-drop-active' : !isCollapsedTemplates}"
               [attr.aria-expanded]="!isCollapsedTemplates" aria-controls="collapseFilters"
               class="border rounded d-flex align-items-center p-2 w-100 mb-3 cursor">
            <i class="fas fa-file-alt"></i>
            <h4 class="mb-0 ml-2">Templates</h4>
          </div>

          <div id="collapseFilters" class="mb-3" [collapse]="isCollapsedTemplates" [isAnimated]="true">
            <ul class="list-group m-0">
              <li class="list-group-item d-flex align-items-center p-1 pl-4" *ngFor="let template of templates">
                <i class="fas fa-arrow-right mr-2 ml-2 fs-12"></i>
                <span class="fs-12 cursor" (click)="setTemplate(template)">{{template.name}}</span>
                <i class="cursor fas fa-times fs-12 ml-auto mr-3 ml-auto pointer" (click)="deleteTemplate(template)"></i>
              </li>
            </ul>
          </div>

          <form [formGroup]="formRecord" (ngSubmit)="addRecord()">
            <!--  Record Type  -->
            <div class="form-group mb-3">
              <div class="row">
                <div class="col-6">
                  <div class="custom-control custom-radio mb-3">
                    <input type="radio" id="income" name="recordType" formControlName="recordType" class="custom-control-input" value="INCOME">
                    <label class="custom-control-label" for="income">Income</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="expense" name="recordType" formControlName="recordType" class="custom-control-input" value="EXPENSE">
                    <label class="custom-control-label" for="expense">Expense</label>
                  </div>
                </div>
              </div>
            </div>
            <!--     Amount / Date     -->
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group mb-2">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-calculator"></i></span>
                    </div>
                    <input formControlName="recordAmount" class="form-control" placeholder="0.00" type="number"
                           min="0.00" step="0.01">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-2">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input type="text"
                           placeholder="Set Date"
                           class="form-control"
                           bsDatepicker
                           formControlName="recordDate"
                           [bsConfig]="{ isAnimated: true, containerClass: 'theme-green'}">
                  </div>
                </div>
              </div>
            </div>
            <!--      Category      -->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-sitemap"></i></span>
                </div>
                <select formControlName="recordCategory" class="form-control" [compareWith]="compareById">
                  <option value="null" disabled selected hidden>Select Category</option>
                  <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                </select>
              </div>
            </div>
            <!--      Account      -->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-university"></i></span>
                </div>
                <select formControlName="recordAccount" class="form-control" [compareWith]="compareById">
                  <option value="null" disabled selected hidden>Select Account</option>
                  <option *ngFor="let account of accounts" [ngValue]="account">{{account.name}}</option>
                </select>
              </div>
            </div>
            <!--      Comment      -->
            <label class="form-control-label" for="rec_comment">Comment</label>
            <div class="form-group mb-2">
              <div class="input-group input-group-alternative">
                <textarea class="form-control" id="rec_comment" rows="3" formControlName="recordComment"></textarea>
              </div>
            </div>
            <!--  Buttons  -->
            <div class="d-flex justify-content-between my-4">
              <button type="submit" class="btn btn-success" [disabled]="formRecord.invalid || formRecord.disabled">
                Add
              </button>
              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">
                Dismiss
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!--      Modal Transfer    -->
<ng-template #transferModal let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card bg-secondary shadow border-0 mb-0">
        <div class="card-header bg-white pb-0">
          <div class="text-muted text-center mb-3">
            <h4 class="mb-0 ml-2">Transfer Money</h4>
          </div>
          <form [formGroup]="formTransfer" (change)="onFormChange($event)" (ngSubmit)="makeTransfer()">
            <!--     Date       -->
            <div class="form-group mb-2">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input type="text"
                       placeholder="Set Date"
                       class="form-control"
                       bsDatepicker
                       formControlName="transferDate"
                       [bsConfig]="{ isAnimated: true, containerClass: 'theme-green'}">
              </div>
            </div>
            <!--     From       -->
            <hr class="m-2">
            From:
            <hr class="m-2">
            <!--    From Account        -->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-university"></i></span>
                </div>
                <select formControlName="transferFromAccount" class="form-control" [compareWith]="compareById">
                  <option value="null" disabled selected hidden>From Account</option>
                  <option *ngFor="let account of accounts" [ngValue]="account">{{account.name}}</option>
                </select>
              </div>
            </div>
            <!--    From Amount        -->
            <div class="row">
              <div class="col-7">
                <div class="form-group mb-2">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text fs-12"><i class="fas fa-calculator"></i></span>
                    </div>
                    <input formControlName="transferFromAmount" class="form-control" placeholder="0.00" type="number"
                           min="0.00" step="0.01">
                  </div>
                </div>
              </div>
              <div class="col-5 d-flex align-items-center">
                <span class="fs-12 mx-auto">{{formTransfer.get('transferFromAccount') ?
                  formTransfer.get('transferFromAccount')?.value?.currency.name : ''}}</span>
              </div>
            </div>
            <!--     To     -->
            <hr class="m-2">
            To:
            <hr class="m-2">
            <!--    To Account        -->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-university"></i></span>
                </div>
                <select formControlName="transferToAccount" class="form-control" [compareWith]="compareById">
                  <option value="null" disabled selected hidden>To Account</option>
                  <option *ngFor="let account of accounts" [ngValue]="account">{{account.name}}</option>
                </select>
              </div>
            </div>
            <!--    To Amount      -->
            <div class="row">
              <div class="col-7">
                <div class="form-group mb-2">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text fs-12"><i class="fas fa-calculator"></i></span>
                    </div>
                    <input formControlName="transferToAmount" class="form-control" placeholder="0.00" type="number"
                           min="0.00" step="0.01" id="amountToAccount">
                  </div>
                </div>
              </div>
              <div class="col-5 d-flex align-items-center">
                <span class="fs-12 mx-auto">{{formTransfer.get('transferToAccount') ?
                  formTransfer.get('transferToAccount')?.value?.currency.name : ''}}</span>
              </div>
            </div>
            <!--      Rate      -->
            <div class="d-flex justify-content-around my-3">
              <span class="text-muted fs-12">
                Current Rate: {{
                (formTransfer.get('transferFromAccount')?.value &&
                  formTransfer.get('transferToAccount')?.value) ?
                ([formTransfer.get('transferFromAccount')?.value.currency, formTransfer.get('transferToAccount')?.value.currency]
                  | getRateFromCurrencies:rates) : 0}}</span>

              <span class="text-muted fs-12">Your Rate: {{(formTransfer.get('transferToAmount')?.value &&
                formTransfer.get('transferFromAmount')?.value &&
                formTransfer.get('transferFromAmount')?.value > 0) ?
                (formTransfer.get('transferToAmount')?.value / formTransfer.get('transferFromAmount')?.value).toFixed(2) : 0}}</span>
            </div>
            <!--  Buttons  -->
            <div class="d-flex justify-content-between my-4">
              <button type="submit" class="btn btn-success" [disabled]="formTransfer.invalid || formTransfer.disabled">
                Add
              </button>
              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">
                Dismiss
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
